<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="index">
<div class="wrapper">

    <section class="header">
        <h1><p>Dataset presentation</p></h1>
        <p>Here are some exemples of the images in the Cityscapes dataset. These images are streetviews taken from a car in various german cities. Each image will be segmented in 8 categories</p>

        <ul class="pres">
        {% for image_name in image_names %}
            <li id="image-{{ loop.index }}">
                <img src="{{ url_for('serve_pres_image', filename=image_name) }}" alt="Image">
            </li>
        {% endfor %}
        <div class = "clear"></div>
       </ul>

       <ul class="pres">
        {% for image_name in image_names %}
            <li id="image-{{ loop.index }}">
                <img src="{{ url_for('serve_pres_mask_image', filename=image_name) }}" alt="Image">
            </li>
        {% endfor %}
            <div class = "clear"></div>
       </ul>

       <h3>Categories</h3>

       <ul class="categories">
           <li>1 | Blue    :   Void</li>
           <li>2 | Green   :   Flat</li>
           <li>3 | Red     :   Construction</li>
           <li>4 | Cyan    :   Object</li>
           <li>5 | Magenta :   Nature</li>
           <li>6 | Yellow  :   Sky</li>
           <li>7 | Black   :   Human</li>
           <li>8 | White   :   Vehicle</li>
         </ul>

    </section>



    <section class="pred"">
        <h1><p>Image segmentation</p></h1>

        <ul class="image">
            {% for image_name in image_names %}
                <li id="image-{{ loop.index }}">
                    <img src="{{ url_for('serve_frontend_image', filename=image_name) }}" alt="Image">
                </li>
            {% endfor %}
        </ul>

        <ul class="num_id">
            {% for image_id in image_ids %}
            <li id="num-{{ loop.index }}" onmouseover="highlightImage({{ loop.index }})" onclick="submitForm({{ loop.index }})">
                Image {{ image_id }}
            </li>
            {% endfor %}
        </ul>

        <p><bold>Hover</bold> an image name to see the image  /  <bold>Click</bold> on an image name to select an image for segmentation</p>

        <form id="prediction-form" action="/api/predict" method="post">
            <input type="hidden" name="image_url" id="image-url">
        </form>
    </section>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</div>
</body>
</html>