<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="index">
<div class="wrapper">

    <h1><p>Image segmentation</p></h1>

    <ul class="image">
        {% for image_name in image_names %}
            <li id="image-{{ loop.index }}">
                <img src="{{ url_for('serve_frontend_image', filename=image_name) }}" alt="Image">
            </li>
        {% endfor %}
    </ul>

    <ul class="num_id">
        {% for image_id in image_ids %}
        <li id="num-{{ loop.index }}" onmouseover="highlightImage({{ loop.index }})" onclick="submitForm({{ loop.index }})">
            Image {{ image_id }}
        </li>
        {% endfor %}
    </ul>

    <p><bold>Hover</bold> an image name to see the image  /  <bold>Click</bold> on an image name to select an image for segmentation</p>

    <form id="prediction-form" action="/api/predict" method="post">
        <input type="hidden" name="image_url" id="image-url">
    </form>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</div>
</body>
</html>